<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>TV Show {{show.id}}</h1>
    <a href="/shows">Go Back</a>
    <p>Title: {{show.title}}</p>
    <p>Network: {{show.network}}</p>
    <p>Release Date: {{show.release_date}}</p>
    <p>Description: {{show.description}}</p>
    <p>Last Updated: {{show.updated_at}}</p>
    <a href="/edit/{{show.id}}">Edit</a> <a href="/delete/{{show.id}}">Delete</a>
</body>
</html>