<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>All Shows</h1>
    <table id="shows">
        <th>ID</th>
        <th>Title</th>
        <th>Network</th>
        <th>Release Date</th>
        <th>Actions</th>
        {% for show in all_show %}
            <tr>
                <td>{{show.id}}</td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td>{{show.release_date}}</td>
                <td><a href="/shows/{{show.id}}">Show</a> <a href="/edit/{{show.id}}">Edit</a> <a href="/delete/{{show.id}}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    </form>
    <a href="/new">Add a New Show</a>
</body>
</html>