h1 {
    color: blue
}

a {
    border-right: 1px solid black;
    padding-right: 3px;
}

#shows tr:nth-child(even){background-color: #f2f2f2;}

#shows tr:hover {background-color: #ddd;}

#shows th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(92, 125, 133);
    color: white;
}